
@font-face {
    font-family: Zooja;
    src: url(Zooja.ttf);
}
@font-face {
    font-family: Markerfield;
    src: url(markerfield.otf);
}
@font-face {
    font-family: NanumScript;
    src: url(NanumScript.ttc);
}


html, body{
    margin: 0;
    background: #0e0e0e;
}
html > body{
    background: white;

}

/* NAV */
nav {
    position: absolute;
    top: 0;/*
    right: 0;*/
    /*margin: 10px;*/
    width: 98%
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

nav li {
    float: left;
}
nav ul.right{
    float: right;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*font-family: Zooja;*/
    font-size: 16px;
    /*font-family: 'Patrick Hand SC', cursive;*/
    font-family: 'Ubuntu Mono', monospace;
    /*text-transform: uppercase;*/
    -webkit-font-smoothing: antialiased;
}
nav.dark-nav li a{
    color: #4a4a4a;
}
nav li a:hover:not(.active) {
    /*background-color: #111;*/
}
nav li a:hover{
    color: #940794;
    cursor: pointer;
}
nav .active {
    /*background-color: #4CAF50;*/
}

.logo-icon-svg{
    opacity: .4;
    padding: 0;
    margin-left: 5px;
}
.logo-icon-svg:hover{
    opacity: 1;
}

/* SOcial media nav */
ul.social-media{
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 1em;
    margin-top: 15em;
}
ul.social-media li{
    list-style-type: none;
    padding: 3px;
}
ul.social-media li a:hover{
    cursor: pointer;
}
ul.social-media li a img{
    width: 1.8em;
    transition: all 0.3s ease;
}
ul.social-media li a img:hover{
    width: 2.3em;
}

.container{
    max-width: 1440px;
}

.hero{
    background-image: url("chris.jpg");
    background-image: url("20170622-IMG_6733.jpg");

    /* Set a specific height */
    height: 70%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-smaller{
    /*background-image: url("chris.jpg");*/
    background-image: url("christin-hume-299790.jpg");


    /* Set a specific height */
    height: 40%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 3em;
}
h1.logo{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: zooja;
}

.alert{
    width: 100%;
    background-color: #cc00ff;
    top: 0;
    z-index: 1;
    text-align: center;
    height: 37px;
    margin: 0;
}
.alert h3{
    padding: 10px;
}
.alert h3 a{
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    margin: 0;
    color: white;
}

button{
    padding: 10px 2em;
    background: white;
    border-radius: 7px;
    box-shadow:0;
    cursor: pointer;
    border: 1px solid #4a4a4a;
    font-size: 14px;
}

#landing-wrapper {
  display: table;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  background-position: center top;
  height: 100%;
  color: white;
}

.recent-album{
    position: relative;
    margin: 1em;
    height: 48em;
}
img.album{
    width: 35em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.recent-album > div{
    /*position: absolute;*/
    margin: 0 auto;
    text-align: center;
    /*margin-top: -6em;*/
    padding: 2em;
    margin-top: 2em;
}
.recent-album .info,
.the-album .info{
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: antialiased;
    /*color: white;*/
    margin-top: 3em;
}
.the-album .info{
    color: #4a4a4a;
    width: 60%;
    text-align: left;
}

.the-album{
    overflow: auto;
}
.the-album h2{
    color: #47164f;
    font-size: 3em;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: antialiased;
}
.the-album > div{
    margin: 0 auto;
    text-align: center;
    padding: 2em;
}

.left-album-info{
    float:left;
    width: 61%;
}
.right-album-info{
    float:right;
    width: 30%;
}

.right-album-info h5,
.right-album-info h3{
    text-align: left;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: antialiased;
}
.right-album-info h5{
    color: #6d6d6d;
    margin: 0;
}
.right-album-info h3{
    margin-bottom: 2em;
    font-size: 1.5em;
    margin-top: 15px;
}
.right-album-info h3.title{
    font-size: 2em;
    color: purple;
}


section.music-section{
    background-color: white;
    padding: 1em;
}

section.music-section h3{
    font-size: 4em;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: antialiased;
}

section.music-section iframe{
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    float: left;
    padding: 1em;
}

.single-youtube-vid{
    padding: 1em;
    margin: 0;
    width: 100%;
}
section.single-youtube-vid iframe{
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    float: none;
    padding: 1em;
}

.two-columns{
    width: 80%;
    overflow: auto;
    margin: 0 auto;

}
.two-columns > iframe{
    width: 45%;
    display: inline-block;
}

.soundcloud-frame{
    width: 45%;
    margin: 0 auto;
    overflow: auto;
}

.col-2{
    width: 49%;
    display: inline-block;
}
.col-2 iframe{
    float: none !important;
}


.narrower{
    width: 70%;
    margin: 0 auto;
}

/*.recent-album > div {
    position: absolute;
    margin-top: -10%;
    left: 10%;
    width: 80%;
}
.recent-album img{
    float: left;
    /*padding: 3em;*/
    /*margin: 4em;*/
}
/*.recent-album .info{
    float: right;
    width: 50%;
    margin-top: 15%;
    font-size: 19px;
    line-height: 27px;
    color: #4a4a4a;
}*/

/*recent-album-center{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}*/


.album-title{}
#youaretitle{
    color: #47164F;
    text-align: center;
    padding-top: 2.6em;
}

.full-width-quote{
    width: 70%;
    margin: 0 auto;
    font-style: italic;
    font-size: 2em;
    color: #b145e4; /*light purple*/
    color: #ccc5d0;
    text-align: center;
    padding: 1em;
}
.full-width-quote h3{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 32px;
    line-height: 60px;
}




.half-height-image{
    height: 40em;
    overflow: hidden;
}



section{
    /*width: 100%;*/
    background-color: #e1e1e1;
    padding: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.btn-section{
    background-color: white;
    margin: 0 auto;
    text-align: center;
}

.top-box{
    height: 47px;
    width: 100%;
    overflow: hidden;
}
.top-box img{
    margin-top: -17em;
}

.img-embed{
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.img-embed img{
    width: 90%;
}
.text-over-image{
    position: absolute;
    top: 50%;
    width: 100%;
}
.img-embed h4{
    position: relative;
    font-size: 2em;
    color: white;
    margin: 0 auto;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: antialiased;
}

section#support{
    background-color: #4ddde4;
    margin-top: 7em;
}
section#support h4{
    font-size: 3em;
    color: #4a4a4a;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: antialiased;
    margin: 19px;
}
section#support p{
    width: 43%;
    margin: 0 auto;
    font-size: 1em;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: antialiased;
    line-height: 25px;
    margin-bottom: 2em;
}

section.story-section{
    background-color: white;
    width: 60%;
    font-size: 20px;
    margin:0 auto;
    line-height: 40px;
    margin-bottom: 2em;
}
section.story-section h3{
    font-size: 4em;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: antialiased;
}
section.story-section p{
    color: #4a4a4a;
    font-family: 'Ubuntu Mono', monospace;
    -webkit-font-smoothing: antialiased;
}

footer{
    background-color: #e1e1e1;
    color: #4a4a4a;
    padding: 5em;
}

